#countryBoxContainer {
  position: relative;
  /*max-width: 995px;*/
  border-style: none;
  /*background-color: #ffffff;*/
  margin-top: 12px;
}

.countryBox {
  position: relative;
  width: 290px;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 7px;
  margin-right: 10px;
  /*float: left;*/
  display: inline-block;
}

.countryBox p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 16pt;
}

.countryBox span:not(.switchSlider) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.closeCountryBox {
  position: absolute;
  top: 10px;
  right: 10px;
  /*background-color: #4c72b0;*/
  
  padding: none;
  color: white;
  border: none;
  cursor: pointer;
}

.colorWheel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  /*background-color: #4c72b0;*/
  
  padding: none;
  color: white;
  border: none;
  cursor: pointer;
}


.scaleLock {
  position: absolute;
  top: 73px;
  right: 10px;
}

.rangeContainer {
  width: 90%;
}

.rangeContainer span{
  display: inline-block;
  width:87%;
}

.sliderRangeField {
  width: 9.5%;
  height: 21px;
  box-sizing: border-box;
  border-radius: 8px;
  border-style: none;
  text-align: center;
}
/*
.sliderRangeField.min{
  float: left;
}

.sliderRangeField.max{
  float: right;
}
*/