body {
  font-family: Arial, Helvetica, sans-serif;
}

.centerBox {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.rightBox {
  margin-right: -40px;
  float: right;
  border-radius: 25px;
  padding: 0px;
  text-align: right;
  width: 60%;
  line-height: 1.5;
  border-style: none;
  font-size: 14pt;
}
.explainBox {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 5px solid #666666;
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  width: 100%;
}

a.whiteText:link    {color: #FFFFFF; text-decoration: none;}
a.whiteText:visited {color: #FFFFFF; text-decoration: none;}
a.whiteText:hover   {color: #FF3333; background: #FFFFFF; text-decoration: none;}

a.blackText:link    {color: #000000; text-decoration: none;}
a.blackText:visited {color: #000000; text-decoration: none;}
a.blackText:hover   {color: #FF3333; background: #FFFFFF; text-decoration: none;}




#outerFrame{
  /*border-style: solid;*/
  position: relative;
  margin: auto;
  max-width: 985px;
  height: auto;
  padding: 50px;
  padding-top: 5px;
  /*background-color: #e6e6e6;*/
}

#chartcontainer{
  position: relative;
  width: 100%;
  border-style: none;
  background-color: #ffffff;
  display: inline-block;
}

#ChartDropdown{
  display:block;
  border-style: none;
  position: relative;
}

.axDataTypeSwitch{
  /*border-style: solid;*/
  padding: 0px;
  
}

.axDataTypeSwitch.yAx{
  /*-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);*/
  /*position: absolute;
  left:-35px;
  top: 260px; */
  display: block;
  border-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

.axDataTypeSwitch.xAx{
  display: flex;
  justify-content: center;
  border-style: none;
  
  margin-top: 15px;
  margin-bottom: 5px;
}

.dataTypeButton{
  padding: 10px;
  font-size: 16px;
  background-color: #777777;
  border: none;
  cursor: pointer;
  color: white;
  border-color: #333333;
}

.dataTypeButton.xAx.Left{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.dataTypeButton.xAx.Middle{
  border-radius: 0px;
}

.dataTypeButton.xAx.Right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dataTypeButton.yAx{
  display: block;
  padding: 0px;
}

.dataTypeButton span{
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.dataTypeButton.yAx.Left{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dataTypeButton.yAx.Middle{
  /*border-radius: 0px;*/
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dataTypeButton.yAx.Right{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#totalPopSwitchContainer{
  position: absolute;
  right: 4%;
  top: 10%;
}
  



.dataTypeButton:hover, .dataTypeButton:focus {
  background-color: #444444;
}

